spring:
  application:
    name: fieldops-api
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

jwt:
  secret: ${JWT_SECRET:9pjGycRjqYQ/xlLvTszcIkwG2lyUpoIoXJpLyWlT2TU=}
  expiration: ${JWT_EXPIRATION:86400000}

error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    codes:
      AssetSerialNumberUnique: ASSET_SERIAL_NUMBER_UNIQUE